:root {
    /* 主色 */
    --b3-theme-primary: #106BA3;
    --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
    --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
    --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #ffffff;
    --b3-theme-surface: #f3f3f3;
    --b3-theme-error: #d23f31;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #4C5160;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: #fff;

    /* 字体 */
    --b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, .06);

    /* 滚动条 */
    --b3-scroll-color: rgba(0, 0, 0, .1);

    /* 列表 */
    --b3-list-hover: rgba(0, 0, 0, .06);

    /* 页签 */
    --b3-tab-background: #f8f9fa;
    --b3-tab-background-hover: #e9eaeb;

    /* 提示 */
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    /* diff */
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器工具栏高度 */
    --b3-vditor-toolbar-height: 29px;
    --b3-vditor-toolbar-height-space: 6px;

    /* 编辑器搜索颜色 */
    --b3-vditor-search-background: #ffe955;
    --b3-vditor-search-border-color: #f2e680;
    --b3-vditor-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-vditor-code-background: #EDEEEE;

    /* 即时渲染标记符颜色 */
    --b3-vditor-mark-heading-color: #106BA3;
    --b3-vditor-mark-title-color: #808080;
    --b3-vditor-mark-em-color: #106BA3;
    --b3-vditor-mark-strong-color: #106BA3;
    --b3-vditor-mark-backslash-color: #106BA3;
    --b3-vditor-mark-s-color: #5f6368;
    --b3-vditor-mark-mark-color: #5f6368;
    --b3-vditor-mark-link-color: #008000;
    --b3-vditor-mark-bracket-color: #0000ff;
    --b3-vditor-mark-paren-color: #008000;
    --b3-vditor-mark-block-color: #106BA3;
    --b3-vditor-mark-tag-color: #106BA3;

    /* 即时渲染行内元素颜色 */
    --b3-vditor-inline-strong-color: #3f4144; /* 标题加粗颜色 */
    --b3-vditor-inline-em-color: #202124;
    --b3-vditor-inline-s-color: #202124;
    --b3-vditor-inline-link-color: #4285f4;
    --b3-vditor-inline-mark-background: #FDC942;/* 搜索结果高亮 */
    --b3-vditor-inline-mark-color: #202124;
    --b3-vditor-inline-tag-color: #5f6368;
    --b3-vditor-inline-blockref-color: #106BA3;



}
/* 编辑器标题段落 */
.vditor-reset h1{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.vditor-reset h2{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.vditor-reset h3{
    margin-top: 1em;
}
.vditor-reset h4{
    margin-top: 0.5em;
}
.vditor-reset h5{
    margin-top: 0.5em;
}
.vditor-reset h6{
    margin-top: 0.5em;
}
.vditor-reset p{
    line-height: 170%;
}
.vditor-reset ul p, .vditor-reset ol p{
    margin: 0;
    padding-top: 0;
}

/* 数学公式 */
.vditor-reset .language-math{
    font-size: 95%;
}

.vditor-reset {
    font-variant-ligatures: no-common-ligatures;
    font-family: var(--b3-font-family);
    word-wrap: break-word;
    overflow: auto;
    line-height: 1.6;
    font-size: 16px;
    word-break: break-word;
}
.vditor-ir--tip *[tip]:before {
    content: attr(tip);
    font-size: 12px;
    color: var(--b3-theme-on-surface);
    float: right;
    margin: -10px 0px 0 0;
    background-color: var(--b3-theme-background);
    padding: 0 8px;
    line-height: 12px;
}

.vditor-ir--tip *[tip] {
    padding: 5px;
    box-shadow: -1px 0 0px 0px var(--b3-border-color),1px 0 0px 0px var(--b3-border-color),0px 1px 0px 0px var(--b3-border-color),0px -1px 0px 0px var(--b3-border-color);
}

/*滚动条整体样式*/
::-webkit-scrollbar {
  width : 8px;  /*高宽分别对应横竖滚动条的尺寸*/
  overflow-y: hidden;
  }

::-webkit-scrollbar-thumb{
    background-color: #eee;
    border-radius: 15px;
    border: 1px solid #eee;
  }

/* link */
.vditor-ir__link{
    color: #106BA3;
    text-decoration:none;
}

/* tag 标签 */
.vditor-ir__tag{
    color: #8D8C8C;
    text-decoration: none;
    border-bottom: 1px solid #cdcdcd;
}

/* dock */
.dock{
    background-color: #343a40;
    background-color: #182026;
}
#dockLeft{
    width: 40px;
    align-items: center; 
}
#dockRight{
    background-color: #dadbdc;
}
/* top toolbar */
.toolbar{
     background-color: #182026;
}
/* 编辑器工具栏 */
.vditor-toolbar{
    background-color: var(--b3-theme-background);
}

/* 块引用 */
.vditor-ir__blockref{
        border-bottom: .5px solid #D8E1E8;
        padding-bottom: 3px;
        color: #106BA3;
        margin: 0 2px;

    }
/* 块引用悬浮样式 */
 .vditor-ir__blockref:hover{
        background-color: #F6F8F9;
        padding-bottom: 3px;       
        border-bottom: .5px solid #D8E1E8;
}

/* 引用数icon */
.vditor-ir__menu span{
    background-color: var(--b3-theme-primary);
    #color: red;
    border-radius: 2px;
    padding:0 2px;
}

/* 修改搜索结果页文件icon颜色使其更显目 todo */
.b3-dialog__container .b3-list-item__graphic use #iconFile{
 
} 

/* 页签标题栏 */
.layout-tab-bar{
    border-bottom: 1px solid var(--b3-border-color);
    background-color: var(--b3-theme-background);
}

.layout-tab-bar:empty{
    border-bottom: none;
}
/* 页签标题栏 选中状态 */
.layout-tab-bar .item--focus {
    background-color: var(--b3-theme-background);
}
/* 页签标题栏 未编辑状态 */
.layout-tab-bar .item--unupdate {
    font-style: italic;
    color: var(--b3-theme-on-surface);
}
/* 页签标题栏 标题文字 */
.layout-tab-bar .item__text{
    padding: 0 2px; /* 适当增加标题文本左右间隙 */
}

/* 左侧边栏 */

.fn__flex-column{
    background-color: #182026;
}

.fn__flex-shrink .block__icons{
    background-color: #182026;
}

.b3-list-item__text{
    color: #6E8AA0;
}

/* dock 面板标题栏 */
.block__icons{
    background-color: var(--b3-theme-surface);
}

/* dock 面板标题栏选中激活 */
.block__icons--active{
    background-color: var(--b3-theme-surface);
}
/* 设置通用文本框背景和字体色 */
.b3-text-filed,.b3-select{
    background-color: #1D2832;
    color: #6E8AA0;
}
.b3-text-filed::selection{
    background-color: #106BA3;
    color: white;
}
/* 增加对话框圆角效果 */
.b3-dialog__container{
    background-color: #182026;
    border-radius: 6px;
    border: 1px solid #182026;
    overflow: hidden;
}

/* 隐藏左侧边栏滚动条 */
.fn__flex-shrink ::-webkit-scrollbar-thumb{
    background-color: #182026;
    border-radius: 15px;
    border: 1px solid #182026;
  }


.fn__flex-shrink .b3-list--background .b3-list-item--focus{
    background-color: #141C22!important;
    border: none;
}

/* 左侧边栏搜索 */
.fn__flex-shrink .search__label input{
    background-color: #182026;
}
/* 通用浮窗搜索 */
.search__label input{
    background-color: var(--b3-theme-surface);
}
/* 调整ember块分隔线颜色 */
[data-type=block-render] .fn__flex-column{
    background-color: #efefef;
}

/* 任务列表样式 enlightened by @zqhjl */
.vditor-task input[type="checkbox"]:before {
  content: "";
  display: inline-block;
  cursor: pointer;
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: middle;
  text-align: center;
  border: 0px;
  border-radius: 3px;
  background-color: var(--b3-vditor-code-background);
  margin-top: -0.3rem;
  margin-left: -0.2rem;
  
}

/* 任务列表未选中，鼠标悬停 */
.vditor-task input[type="checkbox"]:not([disabled]):not(:checked):hover:before {
  content: "\2713";
  font-size: 0.9rem;
  line-height: 1rem;
  color: hsl(192, 6%, 40%);
  color: var(--b3-theme-primary);
  font-weight: bold;
}

/* 任务列表选中 */
.vditor-task input[type="checkbox"]:checked:before {
  content: "\2713";
  font-size: 0.9rem;
  line-height: 1rem;
  color: var(--b3-theme-primary);
  font-weight: bold;
}

/* 任务列表选中，鼠标悬停 */
.vditor-task input[type="checkbox"]:checked:hover:before {
  content: "\2713";
  font-size: 0.9rem;
  line-height: 1rem;
  color: #666;
  font-weight: bold;
}

/* 任务列表选中后的文本样式 */
.vditor-task--done p {
  color: #999;
  text-decoration: line-through;
}

/* 任务列表与文字的距离 */
.vditor-task input[type="checkbox"] {
  margin-right: 0.5em;
}
/* 删除线样式 */
.vditor-reset s{
  color: #999;
}

.backlinkList,.backlinkMList{
    background-color: var(--b3-theme-surface);
} 
.block__icons--active{
    background-color: white;
}
.language-graphviz .graph > polygon {
    fill: transparent;
}
